[data-theme='dark'] {
	// --accent-primary: #e25837;
	// --accent-primary-hover: #f06a47;

	// --bg-primary: #11141a;
	// --bg-secondary: #191d24;
	// --bg-tertiary: #232832;

	// --text-primary: #f5f3f1;
	// --text-secondary: #b7bdc8;

	// --border-primary: #2d3440;

	// --shadow-soft: 0 14px 40px rgba(0, 0, 0, 0.35);
	--accent-primary: #e25837;
	--bg-primary: #11141a;
	--bg-secondary: #191d24;
	--bg-tertiary: #232832;
	--text-primary: #f5f3f1;
	--text-secondary: #b7bdc8;
	--border-primary: #2d3440;
	--shadow-soft: 0 14px 40px rgba(0, 0, 0, 0.35);
}
