:root {
	// --accent-primary: #e25837;
	// --accent-primary-hover: #c84b30;

	// --bg-primary: #f8f4f1;
	// --bg-secondary: #fffdfb;
	// --bg-tertiary: #f1e5dd;

	// --text-primary: #22252b;
	// --text-secondary: #666a73;

	// --border-primary: #e6ddd7;

	// --shadow-soft: 0 10px 30px rgba(34, 37, 43, 0.08);
	--accent-primary: #e25837;
	--bg-primary: #f8f4f1;
	--bg-secondary: #fffdfb;
	--bg-tertiary: #f1e5dd;
	--text-primary: #22252b;
	--text-secondary: #666a73;
	--border-primary: #e6ddd7;
	--shadow-soft: 0 10px 30px rgba(34, 37, 43, 0.08);
}
